# LaTeX stuffs:
*.docx
*.doc
*.lof
*.toc
*.out
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.fdb
*.aux
*.ist
*.log
*.out
*.pdf
*.glg
*.glo
*.gls
*.glsdefs
*.gz
*.thm
*.toc
*.xdy
*.listing
.idea
_minted*
*converted-to*
*.splr
/.vs
/.vscode
/_minted-index

/build